<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wx.dao.StudentRelationMapper">
  <resultMap id="BaseResultMap" type="com.example.wx.model.StudentRelation">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="openid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="studentid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="parentname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="relation" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobilephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="nobindtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="nobindreason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="addfield" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="isdel" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, openid, studentid, parentname, relation, mobilephone, status, nobindtime, nobindreason, 
    addfield, createtime, isdel
  </sql>
  <select id="selectByExample" parameterType="com.example.wx.model.StudentRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from StudentRelation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from StudentRelation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from StudentRelation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.wx.model.StudentRelationExample">
    delete from StudentRelation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.wx.model.StudentRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into StudentRelation (openid, studentid, parentname, 
      relation, mobilephone, status, 
      nobindtime, nobindreason, addfield, 
      createtime, isdel)
    values (#{openid,jdbcType=VARCHAR}, #{studentid,jdbcType=BIGINT}, #{parentname,jdbcType=VARCHAR}, 
      #{relation,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{nobindtime,jdbcType=TIMESTAMP}, #{nobindreason,jdbcType=VARCHAR}, #{addfield,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.wx.model.StudentRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into StudentRelation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
      <if test="studentid != null">
        studentid,
      </if>
      <if test="parentname != null">
        parentname,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="mobilephone != null">
        mobilephone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="nobindtime != null">
        nobindtime,
      </if>
      <if test="nobindreason != null">
        nobindreason,
      </if>
      <if test="addfield != null">
        addfield,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=BIGINT},
      </if>
      <if test="parentname != null">
        #{parentname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="nobindtime != null">
        #{nobindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nobindreason != null">
        #{nobindreason,jdbcType=VARCHAR},
      </if>
      <if test="addfield != null">
        #{addfield,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.wx.model.StudentRelationExample" resultType="java.lang.Long">
    select count(*) from StudentRelation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update StudentRelation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.studentid != null">
        studentid = #{record.studentid,jdbcType=BIGINT},
      </if>
      <if test="record.parentname != null">
        parentname = #{record.parentname,jdbcType=VARCHAR},
      </if>
      <if test="record.relation != null">
        relation = #{record.relation,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephone != null">
        mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.nobindtime != null">
        nobindtime = #{record.nobindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nobindreason != null">
        nobindreason = #{record.nobindreason,jdbcType=VARCHAR},
      </if>
      <if test="record.addfield != null">
        addfield = #{record.addfield,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdel != null">
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update StudentRelation
    set id = #{record.id,jdbcType=BIGINT},
      openid = #{record.openid,jdbcType=VARCHAR},
      studentid = #{record.studentid,jdbcType=BIGINT},
      parentname = #{record.parentname,jdbcType=VARCHAR},
      relation = #{record.relation,jdbcType=VARCHAR},
      mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      nobindtime = #{record.nobindtime,jdbcType=TIMESTAMP},
      nobindreason = #{record.nobindreason,jdbcType=VARCHAR},
      addfield = #{record.addfield,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      isdel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wx.model.StudentRelation">
    update StudentRelation
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null">
        studentid = #{studentid,jdbcType=BIGINT},
      </if>
      <if test="parentname != null">
        parentname = #{parentname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="nobindtime != null">
        nobindtime = #{nobindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nobindreason != null">
        nobindreason = #{nobindreason,jdbcType=VARCHAR},
      </if>
      <if test="addfield != null">
        addfield = #{addfield,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wx.model.StudentRelation">
    update StudentRelation
    set openid = #{openid,jdbcType=VARCHAR},
      studentid = #{studentid,jdbcType=BIGINT},
      parentname = #{parentname,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      nobindtime = #{nobindtime,jdbcType=TIMESTAMP},
      nobindreason = #{nobindreason,jdbcType=VARCHAR},
      addfield = #{addfield,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>